


{% load static %}
<!DOCTYPE html>
<html lang="">

<head>
    <title>PinGoods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'pay/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
    
    <div class="bgded overlay" style="background-image:url('{% static 'pay/farm2.jpg' %}');">
        <!-- ################################################################################################ -->
        <div class="wrapper row4 rowPurchase">
            <footer id="footer" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="group btmspace-50">

                    <div class="one_half">
                        <h6 class="heading">You are about to buy <p>subscription</p> Are you sure you want to do this?</h6>

                        <form action="" method="post">
						{% csrf_token %}
                            <fieldset>
                                <p  class="nospace btmspace-15 ">By clicking 'buy' you accept our terms of service</p>                           
                                <button class="btn" type="submit" value="Place Order" >Buy</button>
                                <button class="btn" onclick="{% url 'goods:main' %}">Go Back</button> 
                                
                                
                            </fieldset>
                        </form>

                        
                    </div>

                    <!-- ################################################################################################ -->
                    <hr class="btmspace-50">
                    <!-- ################################################################################################ -->

                    <!-- ################################################################################################ -->
            </footer>
        </div>

        
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        <!-- ################################################################################################ -->
    </div>

    
    
    <script src=" ../layout/scripts/jquery.min.js"> </script> <script src="../layout/scripts/jquery.backtotop.js">
            </script>
            <script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>

</html>