{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
<title>PinGoods</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'main/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

    <div class="bgded overlay" style="background-image:url('{% static 'main/farm2.jpg' %}');"> 
        <!-- ################################################################################################ -->
        <div class="wrapper row4">
          <footer id="footer" class="hoc clear"> 
            <!-- ################################################################################################ -->
            <div class="group btmspace-50">
              
              <div class="one_half">
                <h6 class="heading">Register</h6>
                <p class="nospace btmspace-15">Submit the form in order to register.</p>
                <form action="#" method="post">
                  <fieldset>
                    <legend>Newsletter:</legend>
					{% csrf_token %}
                    <input class="btmspace-15" name="username" type="text" value="" placeholder="Username" required>
                    <input class="btmspace-15" name="first_name" type="text" value="" placeholder="First Name" required>
                    <input class="btmspace-15" name="last_name" type="text" value="" placeholder="Last Name" required>
                   
                    <input class="btmspace-15" name="city" type="text" value="" placeholder="City of residence (optional) " optional>
                    
                    <input class="btmspace-15" name="password1" type="password" value="" placeholder="Password" required>
                    <input class="btmspace-15" name="password2" type="password" value="" placeholder="Confirm password" required>

                    <p class="nospace btmspace-15">

                        Upon registering you agree
                        with our Privacy Policy.
                        </p>



                    <button class="btn" type="submit" value="submit">Register</button>
                    <a class="btn" href="{% url 'main:homepage' %}">Home</a>
					
					{{ form.errors }}
                    
                   
                  </fieldset>
                </form>
              </div>
              
            <!-- ################################################################################################ -->
            <hr class="btmspace-50">
            <!-- ################################################################################################ -->
            
            <!-- ################################################################################################ -->
          </footer>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
      </div>



</body>
</html>

