{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

<!DOCTYPE html>
<html>
<head>
<title>Edit Profile</title>
    
    
       {% if user_form.errors %}
    
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
   
</head>
<body>
 <div class="container">
        <header>
            <h1><center><strong>Edit Profile [demo]</strong></center></h1>
        </header>       
        <div class="form">
            <form class="form-control" method="POST" action=""> 
                {% csrf_token %}
                <p class="contact"><label for="username">Username</label></p> 
                <input id="username" name="username" value="{{ request.user.username }}"  tabindex="2" type="text">

                <p class="small mb-1"><label for="email">Email</label></p> 
                <input id="email" name="email" value="{{ request.user.email }}"  tabindex="2" type="text"> 
             
                <p class="contact"><label for="phone">Phone number</label></p> 
                <input id="phone" name="phone" value="{{ user.profile.phone }}"  type="text"> <br>
                
                <p class="contact"><label for="city">City of residence</label></p> 
                <input id="city" name="city" value="{{ user.profile.city }}"  type="text"> 

                <p class="contact"><label for="city">Address</label></p> 
                <input id="address" name="address" value="{{ user.profile.address }}"  type="text">

        
                <input class="buttom" name="submit" id="submit" tabindex="5" value="Update info" type="submit"> 
                
                <a href="{% url 'main:password-change-view' %}">Change Password</a>
            
            </form> 
            {{ form.errors }}
        </div>       
    </div>
</body>