{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
<title>PinGoods</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'main/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

    <div class="bgded overlay" style="background-image:url('{% static 'main/farm2.jpg' %}');">
        <footer id="footer" class="hoc clear"> 
            <!-- ################################################################################################ -->
            <div class="group btmspace-50">
              
              <div class="one_half">
                <h6 class="heading">Edit My Account</h6>
                <p class="nospace btmspace-15">Edit account details.</p>
                <form class="form-control"  action="#" method="post">
				{% csrf_token %}
                  <fieldset>
                    <legend>Newsletter:</legend>
                   
					<input class="btmspace-15" name="email" type="text" value="{{ request.user.email }}" placeholder="Email">
					<input class="btmspace-15" name="phone" type="text" value="{{ user.profile.phone }}" placeholder="Phone">
					<input class="btmspace-15" name="city" type="text" value="{{ user.profile.city }}" placeholder="City">
					<input class="btmspace-15" name="address" type="text" value="{{ user.profile.address }}" placeholder="Address">
					
					<div class="inputfield">

                                        <input type="file" name="imageinput" id="id_imageinput" value="" accept="image/png, image/jpg">

                                        <div id="display_image"></div>

                                        <script src="file.js"></script>
                                    </div>
					
                    <button  class="btn" type="submit" value="submit">Edit</button>
                    <a class="btn" href="{% url 'main:homepage' %}">Home</a>
					<a class="btn" href="{% url 'main:password-change-view' %}">Change Password</a>


                    <p class="new">PinGo</p>
            <p class="new">PinGo</p>
            <p class="new">PinGo</p>
            <p class="new">PinGo</p>
            <p class="new">PinGo</p>
            <p class="new">PinGo</p>
            <p class="new">PinGo</p>
            <p class="new">PinGo</p>
                    
                   
                  </fieldset>
                </form>
              </div>
              
            <!-- ################################################################################################ -->
            <hr class="btmspace-50">
            <!-- ################################################################################################ -->
            
            <!-- ################################################################################################ -->
          </footer>
      </div>

      



</body>
</html>