{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
<title>PinGoods</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'main/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<div class="bgded overlay" style="background-image:url('{% static 'main/farm2.jpg' %}');"> 
  
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      
      <p class="fl_left nospace"><i class="fas fa-phone"></i> Customer support: <a  href="https://github.com/sahiva/pingoods" class="gustas" >Click here </a> </p>
	  {% if user.is_authenticated %} 
	  {% else %}
      <p class="fl_right nospace"><a class="btn" href="{% url 'main:login' %}">Log In</a></p>
      <p class="fl_right nospace"><a class="btn" href="{% url 'main:registrationchoice' %}">Sign up</a></p>
      {% endif %}
    </div>
  </div>

  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="center"> 
        
        <h1><a href="{% url 'main:homepage' %}">PinGoods</a></h1>
        
      </div>
      <nav id="mainav" class="fl_right"> 
        
        <ul class="clear">
          
          
          <li><a href="#"></a></li>
        </ul>
       
	   
      </nav>
    </header>
  </div>
  
  <div id="pageintro" class="hoc clear"> 
    
    <article>
      
      <h3 class="heading">Fresh goodies from your local farmer.</h3>
      <p>Go ahead and search for goodies!</p>
      <p class="quick-fix">ok</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="{% url 'goods:main' %}">Search</a></li>
        </ul>
      </footer>

      <div class="picture">
        <img class="logo-image" src="https://play-lh.googleusercontent.com/gDLgYeTaZUTQXa9hu0f4OgxAJedWvpcz3puIj3rgWwYhUjsruRfmKWheF1Wm-oVvPgDe" alt="">
      </div>

    </article>
    
  </div>

  
  
</div>



</body>
</html>