{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="container">
        <div class="title">Log In</div>
        <div class="content">
            <form method="POST" action="">
                <div class="user-details">
					{% csrf_token %}
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="username" placeholder="Enter your username" required>
                    </div>                             
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>                  
                    <div class="button">
                        <input type="submit" value="Log In">
                    </div>
                  <div class="button1">
                    <input type="submit" onclick="location.href='{% url 'main:registrationchoice' %}'" value="If you are not registered, register" />
			
                  </div>
                </div>
            </form>
        </div>
  </div>
    </body>
</html>