{% load static %}

<!DOCTYPE html>
<html lang="">

<head>
    <title>PinGoods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'pay/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
    
    <div class="bgded overlay" style="background-image:url('{% static 'pay/farm2.jpg' %}');">
        <!-- ################################################################################################ -->
        <div class="wrapper row4 rowPurchase">
            <footer id="footer" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="group btmspace-50">

                    <div class="one_half">
                        <h6 class="heading">Password change</h6>

                        <form action="{% url 'main:homepage' %}">
                            <fieldset>
                                
                                {% block content %}
								<form action="" method="POST" class="ui form">
									{% csrf_token %}
									{{ form.as_p }}
									<button  class="btn" type="submit" value="submit">Change</button>
									<a class="btn" href="{% url 'main:homepage' %}">Home</a>
								</form>
								{% endblock content %} 

                                
                                
                                
                            </fieldset>
                        </form>

                        
                    </div>

                    <!-- ################################################################################################ -->
                    <hr class="btmspace-50">
                    <!-- ################################################################################################ -->

                    <!-- ################################################################################################ -->
            </footer>
        </div>

        
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

        <!-- ################################################################################################ -->
    </div>

    
    
    <script src=" ../layout/scripts/jquery.min.js"> </script> <script src="../layout/scripts/jquery.backtotop.js">
            </script>
            <script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>

</html>