{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

<!DOCTYPE html>
<html>
<head>
<title>Sign up</title>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>-->
    <link rel="stylesheet" type="text/css" href="style.css" media="all"/>
   
</head>
<body>
 <div class="container">
			<header>
				<h1><center><strong> Seller Sign-Up</strong></center></h1>
            </header>       
      <div class="form">
    		<form id="contactform"> 

                <p class="contact"><label for="username">Username</label></p> 
    			<input id="username" name="username" placeholder="Username" required="" tabindex="2" type="text">


    			<p class="contact"><label for="name">Name and last name</label></p> 
    			<input id="name" name="name" placeholder="Name and last name" required="" tabindex="1" type="text"> 


                <p class="contact"><label for="phone">Phone number</label></p> 
                <input id="phone" name="phone" placeholder="Phone number" required="" type="text"> <br>
    			 

    			<p class="contact"><label for="city">City of residence</label></p> 
    			<input id="city" name="city" placeholder="City of residence" required="" type="text"> 


                <p class="contact"><label for="city">Addres</label></p> 
    			<input id="address" name="addres" placeholder="Address" required="" type="text">
                
    
                <p class="contact"><label for="password">Create a password</label></p> 
    			<input type="password" id="password" name="password" required=""> 


                <p class="contact"><label for="repassword">Repeat password</label></p> 
    			<input type="password" id="repassword" name="repassword" required=""> 
        
            <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign up!" type="submit"> 	 
   </form> 
  </div>       
</div>
</body>
</html>