{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
<title>PinGoods</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'goods/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

    <div class="bgded overlay rowPurchase" style="background-image:url('{% static 'goods/farm2.jpg' %}');"> 
        <!-- ################################################################################################ -->
        <div class="wrapper row4">
          <footer id="footer" class="hoc clear"> 
            <!-- ################################################################################################ -->
            <div class="group btmspace-50">
              
              <div class="one_quarter">
                <h6 class="heading">Add a review</h6>
                <p class="nospace btmspace-15">Give us your feedback!</p>
                <form action="#" method="post">
				{% csrf_token %}
                  <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" name="text" type="text" value="" placeholder="Text">
                    <input class="btmspace-15" name="rating" type="text" value="" placeholder="Rating">
                    <button class="btn" name="reviewAdd" type="submit" value="submit">Submit</button>
                  </fieldset>
                </form>
              </div>
              
            </div>
            <!-- ################################################################################################ -->
         
            
            <!-- ################################################################################################ -->
          </footer>
        </div>



</body>
</html>