<form action="{% url 'goods:detail' offer.id %}" method="post">
{% csrf_token %}
<fieldset>
	<div class="offer_detail"
	<span class="details">Title: {{ offer.offer_title }}</span>
	</div>
	<div class="offer_detail"
	<span class="details">Seller: {{ offer.user }}</span>
	</div>
	<div class="offer_detail"
	<span class="details">Description: {{ offer.offer_text }}</span>
	</div>
	<div class="offer_detail"
	<span class="details">Category: {{ offer.category }}</span>
	</div>
	<div class="offer_detail"
	<span class="details">Phone number: {{ offer.offer_phonenumber }}</span>
	</div>
	<div class="offer_detail"
	<span class="details">Address: {{ offer.offer_address }}</span>
	</div>
	<div class="offer_detail"
	<span class="details">Price: {{ offer.offer_price }}</span>
	</div>
    <legend><h1>Offer</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for review in offer.review_set.all %}
        <div class="review_detail" 
		<span class="details">{{ review.review_text }}</span>
		<span class="details">{{ review.author }}</span>
		<span class="details">{{ review.pub_date }}</span>
		<span class="details">{{ review.rating }}</span>
		</div>
    {% endfor %}
</fieldset>
</form>